---
import { t } from '@/lib';
import ExternalLink from './ExternalLink.astro';

interface Props {
  href: string;
  locale: string;
}

const { href, locale } = Astro.props;
const text = t('cta', locale);
---

<div class="cta fade-in">
  <ExternalLink href={href} class="cta-button">
    {text}
  </ExternalLink>
</div>
