---
import type { Links, Author } from '@/lib';
import ExternalLink from './ExternalLink.astro';

interface Props {
  author?: Author;
  links?: Links;
}

const { author, links } = Astro.props;
const authorName = author?.name ?? '';
---

<footer class="author fade-in">
  <p>Created by {authorName}</p>
  {
    links && (
      <nav aria-label="Links">
        {links.github && <ExternalLink href={links.github}>GitHub</ExternalLink>}
        {links.zenn && <ExternalLink href={links.zenn}>Zenn</ExternalLink>}
      </nav>
    )
  }
</footer>
