---
import { ASSET_DIMENSIONS } from '@/lib';

interface Props {
  images: string[];
  basePath: string;
}

const { images, basePath } = Astro.props;
const { width, height } = ASSET_DIMENSIONS.gallery;
---

{
  images.length > 0 && (
    <section class="gallery fade-in" aria-label="Gallery">
      {images.map((src, i) => (
        <img
          src={`${basePath}${src}`}
          alt={`Screenshot ${i + 1}`}
          loading="lazy"
          decoding="async"
          width={width}
          height={height}
        />
      ))}
    </section>
  )
}
